@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,700;1,700&family=Roboto&display=swap");
body {
  font-family: "nunito sans";
  margin: 0;
  color: #3a3d42;
}
.bgimage {
  background-image: url(/fw9-responsive-web/assets/img/landingpage1.png);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%;
  height: 700px;
  padding: 55px 150px 0;
}

/* header */
.nav {
  display: flex;
  justify-content: space-between;
}
.spanzwallet {
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: #ffffff;
}
.btn-nav {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bs-white);
  --bs-btn-border-radius: 0.5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-color: var(--bd-violet);

  --bs-btn-padding-y: 10px;
  --bs-btn-padding-x: 20px;
  --bs-btn-font-size: 10px;
}
.bannerphone {
  padding-top: 17.5%;
  padding-left: 15%;
}
.parent-ls {
  display: flex;
  justify-content: space-between;
}
.left-side {
  display: flex;
  flex-direction: column;
  padding-top: -40%;
  justify-content: center;
  max-width: 475px;
}
.btn-ls {
  --bs-btn-padding-y: 10px;
  --bs-btn-padding-x: 20px;
  --bs-btn-font-size: 10px;
}

/* secton1 */
.section-one {
  background-color: rgba(71, 58, 209, 0.06);
  padding: 55px 155px 50px;

  display: flex;
  justify-content: space-between;
}

/* section 2 */
.section-two {
  display: flex;
  flex-direction: column;

  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-two-text {
  /* max-width: 800px; */
}
.section-two-card {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}
.card {
  margin: 10px;
  padding: 50px;
  background: #ffffff;

  border-radius: 25px;
}
.card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #5555;
}
.imgcard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}
/* section 3 */
.section-three {
  padding: 0 150px 0;
  background-color: rgba(71, 58, 209, 0.06);
  display: flex;
  justify-content: center;
}
.section-three-img {
}
.section-three-text {
  padding-top: 70px;
}
.pstyle {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 20px;
}

/* section 4 */
.section-four {
  padding: 55px 155px 50px;
}
.card-carousel {
  padding: 100px;

  text-align: center;
  border-radius: 25px;
}
.card-carousel:hover {
  background: rgba(182, 179, 179, 0.815);
}
.imgcard-carousel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}
/* footer */
.footer {
  background-color: #6379f4;
  padding: 80px 150px 90px;
  color: #ffffff;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
  font-size: xx-small;
}
